.notes {
    margin-left: 350px;
    padding: 20px;
    box-sizing: border-box;
}

.form-control {
    width: 50%;
}

.form-control:focus {
    box-shadow: none;
}

.custom-textarea {
    width: 100%;
}